<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:siebel="http://www.mulesoft.org/schema/mule/siebel"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/siebel http://www.mulesoft.org/schema/mule/siebel/current/mule-siebel.xsd">

    <http:listener-config name="HTTP_Listener_config"
                          doc:name="HTTP Listener config" doc:id="910654bf-9fd9-4073-bad4-cf951b7f0022">
        <http:listener-connection host="0.0.0.0"
                                  port="${http.port}"/>
    </http:listener-config>
    <email:smtp-config name="Gmail_SMTP" doc:name="Email SMTP"
                       doc:id="8ba14ccd-a5b8-43a8-8281-cd433c852f2b">
        <email:smtps-connection host="${smtp.host}"
                                port="${smtp.port}" user="${smtp.user}" password="${smtp.password}"
                                tlsContext="TLS_Context"/>
    </email:smtp-config>

    <tls:context name="TLS_Context" doc:name="TLS Context"
                 doc:id="233e532c-8296-4ddd-ac67-e2b7984b3609">
        <tls:trust-store insecure="true"/>
    </tls:context>
    
   <siebel:siebel-config name="Siebel_JDB_Siebel" doc:name="Siebel JDB Siebel" doc:id="ebeed293-0aea-432e-aa37-a69a0f7f3d74">
        <siebel:basic-connection user="${sieb.user}" password="${sieb.password}" server="${sieb.server}"
            port="${sieb.port}" serverName="${sieb.serverName}" objectManager="${sieb.objectManager}" />
    </siebel:siebel-config>
    <configuration-properties file="mule.${mule.env}.properties"
                              doc:name="Configuration properties" doc:id="46877740-aac5-4812-8728-4718689aa9ec"/>
    <configuration-properties file="common.properties"
                              doc:name="Configuration properties" doc:id="dffa4da7-cc5c-4ecb-922e-1115b4387354"/>
    <configuration-properties doc:name="Configuration properties"
                              doc:id="d185e6c2-8ca4-4217-928b-a845563af693" file="mule-artifact.properties"/>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="558c8359-7a23-45bd-b7fd-e430b315c20a" >
		<salesforce:basic-connection username="${sfdc.username}" password="${sfdc.password}" securityToken="${sfdc.securityToken}" />
	</salesforce:sfdc-config>
	<global-property doc:name="Global Property" doc:id="b7b8fb08-751d-439e-a166-a4c5e5b5ff0f" name="mule.env" value="dev" />
</mule>

        